<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
          const input = document.getElementById('username');
      
          input.addEventListener('keydown', function(event) {
            if (event.key === ' ') {
              event.preventDefault();
            }
          });
      
          input.addEventListener('paste', function(event) {
            const paste = (event.clipboardData || window.clipboardData).getData('text');
            if (paste.includes(' ')) {
              event.preventDefault();
            }
          });
        });
      
        function checkPassword() {
          const password = document.getElementsByName("password")[0].value;
          const passwordRepeat = document.getElementsByName("password_repeat")[0].value;
          const message = document.getElementById("message");
      
          if (password.length < 8) {
            message.style.color = "orange";
            message.textContent = "Password must be at least 8 characters.";
          } else if (password === passwordRepeat) {
            message.style.color = "green";
            message.textContent = "Passwords match!";
          } else {
            message.style.color = "red";
            message.textContent = "Passwords do not match!";
          }
        }
      </script>
      
</head>
<body>
    <h1>Register</h1>
    <form oninput="checkPassword()" method="POST" action="/auth/register">
        <input type="text" id="username" name="name" placeholder="Name" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="password" name="password_repeat" placeholder="Repeat Password" required><br>
        <span id="message"></span><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>