<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Registracija</title>
  <link rel="stylesheet" href="/css/auth/register.css">
  <script src="/js/auth/register.js" defer></script>
</head>
<body>
  <%- include('../partials/header') %>
  
  <div style="display: flex; flex-direction: column; align-items: center; width: 100%;">
    
    <% if (typeof error !== 'undefined' && error) { %>
        <div class="auth-error">
            <%= error %>
        </div>
    <% } %>

    <form oninput="checkPassword()" method="POST" action="/auth/register" class="register-form">
      <h1>Registracija</h1>
      <input type="text" id="username" name="name" placeholder="KorisniÄko ime" required />
      <input type="email" name="email" placeholder="E-mail" required />
      <input type="password" name="password" placeholder="Zaporka" required />
      <input type="password" name="password_repeat" placeholder="Ponovi zaporku" required />
      <span id="message"></span>
      <button type="submit">Registriraj se</button>
    </form>
    
  </div>
</body>
</html>