<head>
    <link rel="stylesheet" href="/css/partials/header.css">
</head>

<body>
    <nav class="navbar" id="navbar">
        <% if (typeof currentUser !=='undefined' ) { %>
            <div class="user-profile">
                <a href="/user/profile">
                    <img src="<%= locals.currentUser.profilePicture || 'https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg' %>"
                        alt="Profile Picture">
                </a>
                <a href="/user/profile">
                    <%= locals.currentUser.name %>
                </a>
            </div>
            <div class="center-links">
                <a href="/">Početna stranica</a>
                <a href="/questions/new">Stvori pitanje</a>
                <a href="/rooms">Popis soba</a>
                <a href="/news">Vijesti</a>
                <a href="/user/list">Popis korisnika</a>
                <a href="/friends">Prijatelji</a>
                <a href="/teams">Timovi</a>
                <% if (locals.currentUser.adminLevel> 0) { %>
                    <a href="/admin/dashboard">Admin</a>
                    <% } %>
            </div>
            <div class="right-section">
                <form action="/auth/logout" method="POST" class="navbar-logout">
                    <button type="submit">Odjava</button>
                </form>
            </div>
            <% } else { %>
                <div class="center-links">
                    <a href="/">Početna stranica</a>
                    <a href="/auth/login">Prijava</a>
                    <a href="/auth/register">Registracija</a>
                    <a href="/news">Vijesti</a>
                </div>
                <% } %>
    </nav>
</body>