<div class="levelup-backdrop">
    <div class="levelup-modal">
        <h2>LEVEL UP</h2>
        <img id="levelup-icon" class="icon" src="" />
        <div class="level-name"></div>
        <div class="level-description"></div>
        <div class="level-progress"></div>
        <div class="level-progress-container">
            <div class="progress-bar-bg">
                <div class="progress-bar-fill"></div>
            </div>
            <div class="progress-labels">
                <span id="progress-left">0</span>
                <span id="progress-right">0</span>
            </div>
            <div class="progress-text" id="progress-text"></div>
        </div>

        <button class="ok-btn" onclick="closeLevelUp()">SUPER!</button>
    </div>
</div>


<link rel="stylesheet" href="/css/partials/levelup-modal.css">
<script src="/js/partials/levelup-modal.js"></script>