<link rel="stylesheet" href="/css/partials/modals.css">

<div class="report-backdrop">
    <div class="report-modal-chat">
        <h2>PRIJAVI PORUKU</h2>
        <div class="report-preview"></div>
        <textarea id="report-reason" placeholder="Unesi razlog prijave..." maxlength="300"></textarea>
        <div class="modal-actions">
            <button class="btn-modal btn-report-confirm-chat" id="report-confirm-btn">PRIJAVI</button>
            <button class="btn-modal btn-cancel-chat" id="report-cancel-btn">ODUSTANI</button>
        </div>
    </div>
</div>

<script src="/js/partials/report-modal.js"></script>