<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unos lozinke</title>
    <link rel="stylesheet" href="/css/rooms/rooms.css"> 
    <%- include('../partials/header') %> 
</head>
<body>
    
    <div class="password-container">
        <h1>Pristup privatnoj sobi</h1>
        <p class="description">Unesite lozinku za pristup privatnoj sobi.</p>
        <% if (error) { %>
            <div class="error-message">
                <%= error %>
            </div>
        <% } %>
        <form action="/rooms/<%= roomId %>/verify" method="POST" class="password-form">
            <div class="input-group">
                <label for="password">Lozinka</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="submit-button">Pristupi sobi</button>
        </form>
    </div>

</body>
</html>