<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stvori sobu</title>
    <link rel="stylesheet" href="/css/admin/rooms_create.css">
    <script src="/js/admin/rooms_create.js" defer></script>
</head>
<body>
      <%- include('../../partials/header') %>
  <%- include('../../partials/messaging') %>
    <div class="form-container">
        <h1>Stvori sobu</h1>

        <form action="/admin/rooms" method="POST">
            <div>
                <label for="name">Naziv sobe:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div>
                <label for="type">Tip sobe:</label>
                <select id="type" name="type" required>
                    <option value="superfast">Superfast</option>
                    <option value="fast">Fast</option>
                    <option value="slow">Slow</option>
                </select>
            </div>
            
            <div>
                <label for="password">Lozinka sobe (opcionalno):</label>
                <input type="password" id="password" name="password" placeholder="Ostavite prazno ako ne želite lozinku">
            </div>

            <div>
                <label for="categories">Kategorije:</label>
                <div id="categories">
                    <% categories.forEach(category => { %>
                        <button type="button" class="category-button" data-category="<%= category %>"><%= category %></button>
                    <% }); %>
                </div>
                <input type="hidden" name="categories" id="selectedCategories" required>
            </div>

            <button class="submit-button" type="submit" id="createRoomButton" disabled>Stvori sobu</button>
        </form>
    </div>
</body>
</html>
