<!DOCTYPE html>
<html>
<head>
    <title>Kreiraj tim</title>
    <link rel="stylesheet" href="/css/teams/teams.css">
    <%- include('../partials/header') %>
    <%- include('../partials/messaging') %>
    <%- include('../partials/happyHour') %>
</head>
<body>

<div class="create-page-container">
    <h1 class="page-title">Kreiraj tim</h1>
    <div class="form-wrapper">
        <form action="/teams" method="POST">

            <div class="form-group">
                <label for="name">Naziv tima</label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    required
                    placeholder="Unesi naziv tima"
                />
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-primary">
                    Kreiraj tim
                </button>
            </div>

        </form>
    </div>
</div>

</body>
</html>
