<!DOCTYPE html>
<html lang="en">
<head>
    <title>PubSub</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="content">
        <h1>Dobrodošli na PubSub!</h1>
        <% if (user) { %>
            <p> <a href="rooms/">Klikni i započni avanturu!</a></p>
        <% } else { %>
            <a href="auth/login">Prijava</a>
            <a href="auth/register">Registracija</a>
        <% } %>
    </div>
</body>
</html>