<!DOCTYPE html>
<html lang="en">
<head>
    <title>PubSub</title>
    <link rel="stylesheet" href="/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%- include('partials/header') %>
    <div class="content">
        <h1>Dobrodošli na PubSub!</h1>
        <% if (user) { %>
            <%- include('partials/messaging') %>
            <%- include('partials/happyHour') %> 
            <p> <a href="rooms/">Klikni i započni avanturu!</a></p>
        <% } else { %>
            <a href="auth/login">Prijava</a>
            <a href="auth/register">Registracija</a>
        <% } %>
    </div>
    <% if (streakData) { %>
        <%- include("partials/streak-modal", streakData) %>
    <% } %>

</body>
</html>