<form action="/user/edit?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="username" value="<%= user.name %>"><br>
    <input type="password" name="newPassword" placeholder="New Password"><br>
    <input type="password" name="repeatPassword" placeholder="Repeat New Password"><br>
    <input type="text" name="profilePicture" value="<%= user.profilePicture %>">

    <button type="submit">Submit</button>
</form>


<script>
    document.getElementById('editForm').addEventListener('submit', function (e) {
      const newPass = this.newPassword.value;
      const repeatPass = this.repeatPassword.value;
  
      if (newPass || repeatPass) {
        if (newPass !== repeatPass) {
          e.preventDefault();
          alert("Passwords do not match.");
        }
      }
    });
  </script>