<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Uredi profil</title>
  <link rel="stylesheet" href="/css/user/edit.css">
  <script src="/js/user/editUser.js" defer></script>
</head>
<body>
  <%- include('../partials/header') %>
  <%- include('../partials/messaging') %>
  <form id="editForm" action="/user/edit?_method=PUT" method="POST" oninput="checkPassword()" class="edit-user-form">
    <input type="hidden" name="_method" value="PUT" />
    <h2>Uredi profil</h2>
    <input type="text" id="username" name="username" pattern="^\S+$" value="<%= user.name %>" placeholder="KorisniÄko ime" required />
    <input type="text" id="profilePicture" name="profilePicture" placeholder="Profile picture URL" />
    <span id="togglePassword" onclick="togglePasswordForm()">Promijeni zaporku</span>
    <div id="passwordForm" style="display: none;">
      <input type="password" name="newPassword" placeholder="Nova zaporka" autocomplete="off"/>
      <input type="password" name="repeatPassword" placeholder="Ponovi novu zaporku" autocomplete="off" />
    </div>
    <span id="message"></span>
    <button type="submit">Spremi promjene</button>
  </form>
</body>
</html>